<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="intervaloEjecucion" value="60000"/>
		<add key="errors" value="C:\Users\hp\Documents\entrevistas 2023\GATechSolutions\errors"/>
		<add key="filesProcessed" value="C:\Users\hp\Documents\entrevistas 2023\GATechSolutions\filesProcessed"/>
		<add key="readyToProcess" value="C:\Users\hp\Documents\entrevistas 2023\GATechSolutions"/>
	</appSettings>
	<connectionStrings>
		<add name="ConexionSQL" connectionString="Data Source=34.218.6.36,1435\evaluaciones;Initial Catalog=evaluacion_agonzalezr;User ID=*******;Password=******** ;" providerName="System.Data.SqlClient" />
											
	</connectionStrings>
</configuration>